<section class="root-container">
  <div class="content-wrapper">
    <h1>Jeep Prado</h1>
    <div class="main-info-container">
      <div class="image-container">
        <img
          src="https://images.unsplash.com/photo-1497483996262-df5caae87573?q=80&w=2370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        />
      </div>
      <div class="main-details-container">
        <div class="detail-container">
          <p>Make</p>
          <p>Jeep</p>
        </div>
      </div>
    </div>
  </div> 
</section>
