<footer class="root-container">
  <div class="content-wrapper">
    <h2>Car Rental App</h2>
    <div class="contact-info">
      <div class="address-wrapper">
        1 Westminster Street, WC1 2DE
        <br />
        London, United Kingdom
        <br />
        <br />
        <span class="bold">Mon - Fri:</span> 6am - 11pm <br /><span class="bold"
          >Sat - Sun:</span
        >
        8am - 9pm
      </div>
      <div class="contact-wrapper">
        info&#64;carrentalapp.com
        <br />
        + 123 456 7890
      </div>
    </div>
  </div>
</footer>
