<div class="root-container page">
  <section class="root-container">
    <div class="content-wrapper">
      <h1>Book Now</h1>
      <div class="booking-container">
        <div class="form-container">
          <form [formGroup]="formGroup">
            <div class="full-column">
              <p class="section-title">Driver's Personal Info</p>
            </div>
            <div class="column">
              <mat-form-field appearance="outline">
                <mat-label>Full Name</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="driversFullName"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Phone Number</mat-label>
                <input
                  matInput
                  type="tel"
                  formControlName="driversFullName"
                  required
                />
              </mat-form-field>
            </div>
            <div class="column">
              <mat-form-field appearance="outline">
                <mat-label>Age (On Pick Up)</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="driversAge"
                  required
                />
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="driversEmail"
                  required
                />
              </mat-form-field>
            </div>
            <div class="full-column">
              <p class="section-title">Address</p>
            </div>
            <div class="full-column">
              <mat-form-field appearance="outline">
                <mat-label>Street Name and Number</mat-label>
                <input
                  matInput
                  type="text"
                  formControlName="driversAddress"
                  required
                />
              </mat-form-field>
            </div>
          </form>
        </div>
        @if ($car| async; as car) {
        <div class="car-tile">
          <div class="image-wrapper">
            <img [src]="car.pictureUrl" />
            <!-- <div class="price-container">
              <p class="price">From {{ currencySign }}{{ car.dayPrice }}/Day</p>
            </div> -->
          </div>
          <div class="description-wrapper">
            <p class="title">{{ car.make.name }} {{ car.model }}</p>
            <div class="stats-container">
              <div class="stat">
                <span class="material-symbols-outlined">
                  auto_transmission
                </span>
                <p>{{ car.transmissionType === 0 ? "auto" : "manual" }}</p>
              </div>
              <div class="stat">
                <span class="material-symbols-outlined">
                  local_gas_station
                </span>
                <p>{{ car.rangeKm }}KM</p>
              </div>
              <div class="stat">
                <span class="material-symbols-outlined"> bolt </span>
                <p>{{ car.powerHp }} HP</p>
              </div>
            </div>
            <p class="description">
              {{ car.description }}
            </p>
          </div>
        </div>
        }
      </div>
    </div>
  </section>
</div>
