.root-container {
}

.booking-container {
  display: flex;
  justify-content: space-between;
  /* background-color: var(--primary-color-10); */
  background-color: var(--background-color2);
  border-radius: var(--section-border-radius);
  padding: 1.5rem;
}

.form-container {
  width: 69%;
  border-radius: var(--section-border-radius);
  height: 1000px;
  background-color: var(--tertiary-color);
  padding: 1rem;
}

form {
  display: flex;
  justify-content: space-between;
}

form > .column {
  width: 49%;
}

.car-tile {
  width: 29%;
  height: 400px;
  width: calc(100% - 70% - 2rem);
  background-color: var(--tertiary-color);
  border-radius: 16px;
  padding: 1rem;
  cursor: pointer;
  position: sticky;
  top: 0;
}

.car-tile > .image-wrapper {
  width: 100%;
  height: 40%;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
}

.image-wrapper > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.price-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 18px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-container > .price {
  font-weight: 600;
  color: var(--tertiary-color);
  margin: 0;
  font-size: 0.6rem;
}

.car-tile > .description-wrapper {
  width: 100%;
  height: calc(100% - 40% - 40px);
  overflow: auto;
}

.car-tile > .description-wrapper > .title {
  font-weight: 500;
  font-size: 1.2rem;
  margin: 0;
  margin-top: 0.6rem;
}

.car-tile > .description-wrapper > .description {
  font-weight: 400;
  font-size: 0.7rem;
  margin: 0;
  margin-top: 0.8rem;
}

.description-wrapper > .stats-container {
  width: 100%;
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 0.6rem;
}

.stat {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.stat > span {
  font-weight: 300;
  font-size: 1.2rem;
}

.stat > p {
  font-weight: 400;
  font-size: 0.6rem;
}

button.filled-tonal {
  width: 100%;
}

@media screen and (max-width: 800px) {
  .car-tile {
    width: calc((100% - 2rem) / 2);
  }
}

@media screen and (max-width: 450px) {
  .car-tile {
    width: 100%;
  }
}
