<nav class="root-container">
  <a
    class="nav-rail-item"
    routerLink="/"
    fragment="home-intro-section"
    routerLinkActive="active"
  >
    <div class="indicator">
      <span class="material-symbols-outlined"> home </span>
    </div>
    <p class="label">Home</p>
  </a>
  <a class="nav-rail-item" routerLink="/">
    <div class="indicator">
      <span class="material-symbols-outlined"> person </span>
    </div>
    <p class="label">Account</p>
  </a>
  <a class="nav-rail-item">
    <div class="indicator">
      <span class="material-symbols-outlined"> directions_car </span>
    </div>
    <p class="label">Fleet</p>
  </a>
</nav>
