.root-container {
  position: fixed;
  left: 0;
  height: 100vh;
  width: var(--nav-rail-width);
  background-color: var(--background-color2);
  padding: 3rem 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.nav-rail-item {
  cursor: pointer;
  text-decoration: none;
  color: var(--secondary-color);
}

.nav-rail-item > .indicator {
  height: 32px;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: background-color 0.8s;
}

.nav-rail-item:hover,
.nav-rail-item.active {
  .indicator {
    background-color: var(--primary-color-15);
  }
}

.nav-rail-item.active:active {
  .indicator {
    background-color: var(--primary-color-15);
  }
}

.nav-rail-item > .label {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  margin: 0;
  margin-top: 0.4rem;
}

.nav-rail-item.active:hover {
  .indicator {
    background-color: var(--primary-color-30);
  }
}

@media screen and (max-width: 600px) {
  .root-container {
    position: fixed;
    bottom: 0;
    height: var(--nav-bar-height);
    width: 100%;
    padding: 0 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 1000;
  }
}
