<div class="fleet-wrapper">
  <div class="fleet-item">
    <div class="image">
      <div class="price-container">
        <p class="price">From £80/Day</p>
      </div>
    </div>
    <div class="description-wrapper">
      <p class="title">Jeep Wrangler</p>
      <div class="stats-container">
        <div class="stat">
          <span class="material-symbols-outlined"> auto_transmission </span>
          <p>auto</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> local_gas_station </span>
          <p>81L/640KM</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> bolt </span>
          <p>240 HP</p>
        </div>
      </div>
      <p class="description">
        Rent a Jeep Wrangler for your next adventure! With a robust 4x4 system
        and powerful performance, it's perfect for exploring both city streets
        and off-road trails.
      </p>
    </div>
    <button class="filled-tonal">Book Now</button>
  </div>
  <div class="fleet-item">
    <div class="image">
      <div class="price-container">
        <p class="price">From £80/Day</p>
      </div>
    </div>
    <div class="description-wrapper">
      <p class="title">Jeep Wrangler</p>
      <div class="stats-container">
        <div class="stat">
          <span class="material-symbols-outlined"> auto_transmission </span>
          <p>auto</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> local_gas_station </span>
          <p>81L/640KM</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> bolt </span>
          <p>240 HP</p>
        </div>
      </div>
      <p class="description">
        Rent a Jeep Wrangler for your next adventure! With a robust 4x4 system
        and powerful performance, it's perfect for exploring both city streets
        and off-road trails.
      </p>
    </div>
    <button class="filled-tonal">Book Now</button>
  </div>
  <div class="fleet-item">
    <div class="image">
      <div class="price-container">
        <p class="price">From £80/Day</p>
      </div>
    </div>
    <div class="description-wrapper">
      <p class="title">Jeep Wrangler</p>
      <div class="stats-container">
        <div class="stat">
          <span class="material-symbols-outlined"> auto_transmission </span>
          <p>auto</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> local_gas_station </span>
          <p>81L/640KM</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> bolt </span>
          <p>240 HP</p>
        </div>
      </div>
      <p class="description">
        Rent a Jeep Wrangler for your next adventure! With a robust 4x4 system
        and powerful performance, it's perfect for exploring both city streets
        and off-road trails.
      </p>
    </div>
    <button class="filled-tonal">Book Now</button>
  </div>
</div>
