<div class="fleet-wrapper">
  @if($apiCars | async; as apiCars) { @for (car of apiCars; track car) {
  <div class="fleet-item">
    <div class="image-wrapper">
      <img [src]="car.pictureUrl" />
      <div class="price-container">
        <p class="price">From {{ currencySign }}{{ car.dayPrice }}/Day</p>
      </div>
    </div>
    <div class="description-wrapper">
      <p class="title">{{ car.make.name }} {{ car.model }}</p>
      <div class="stats-container">
        <div class="stat">
          <span class="material-symbols-outlined"> auto_transmission </span>
          <p>{{ car.transmissionType === 0 ? "auto" : "manual" }}</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> local_gas_station </span>
          <p>{{ car.rangeKm }}KM</p>
        </div>
        <div class="stat">
          <span class="material-symbols-outlined"> bolt </span>
          <p>240 HP</p>
        </div>
      </div>
      <p class="description">
        Rent a Jeep Wrangler for your next adventure! With a robust 4x4 system
        and powerful performance, it's perfect for exploring both city streets
        and off-road trails.
      </p>
    </div>
    <button class="filled-tonal">Book Now</button>
  </div>
  } }
</div>
