<section class="root-container">
  <div class="content-wrapper">
    <div class="heading-container"><h1>Get your dream car today</h1></div>
    <div class="search-form-wrapper">
      <h2 class="search-form-heading">Search your car</h2>
      <form class="search-form">
        <mat-form-field appearance="outline">
          <mat-label>Pick-Up</mat-label>
          <mat-select>
            <mat-option [value]="1">Central London</mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </div>
  </div>
</section>
