@if (showFormTitle !== false) {
<h2 class="search-form-heading">Search your car</h2>
} @if ($locationsData | async; as locationsData) {
<form class="search-form">
  <mat-form-field appearance="outline">
    <mat-label>Pick-Up</mat-label>
    <mat-select>
      @for (location of locationsData[0]; track location) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Drop-Off</mat-label>
    <mat-select>
      @for (location of locationsData[1]; track location) {
      <mat-option [value]="location">{{ location.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Pick-Up Date</mat-label>
    <input matInput [matDatepicker]="pickupdatepicker" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickupdatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #pickupdatepicker> </mat-datepicker>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Drop-Off Date</mat-label>
    <input matInput [matDatepicker]="dropoffdatepicker" />
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="dropoffdatepicker"
    ></mat-datepicker-toggle>
    <mat-datepicker #dropoffdatepicker> </mat-datepicker>
  </mat-form-field>
  <button mat-flat-button class="main" type="submit">Submit</button>
</form>
}
