/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: rgb(210, 85, 37);
  --primary-color-10: rgba(210, 85, 37, 0.1);
  --secondary-color: rgb(0, 0, 0);
  --background-color2: #f7f7f7;
  --primary-font: "Roboto", sans-serif;
}

html,
body,
* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.page {
  padding-left: 80px;
}

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0;
}

/* Material Design Customisations */

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__trailing,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__leading,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__notch {
  border-width: 2px !important;
  border-color: var(--primary-color) !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__notch
  > label,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mat-mdc-form-field-infix
  > mat-select
  > .mat-mdc-select-trigger
  > .mat-mdc-select-arrow-wrapper
  > .mat-mdc-select-arrow,
.mdc-list-item__primary-text,
.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--primary-color) !important;
}

.mdc-notched-outline__notch {
  border-left: none !important;
}
