/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: rgb(210, 85, 37);
  --primary-color-10: rgba(210, 85, 37, 0.1);
  --primary-color-15: rgba(210, 85, 37, 0.15);
  --primary-color-30: rgba(210, 85, 37, 0.30);
  --secondary-color: rgb(0, 0, 0);
  --tertiary-color: rgb(255, 255, 255);
  --secondary-container: rgb(210 85 37 / 15%);
  --on-secondary-container: rgb(63 17 0);
  --background-color2: #f7f7f7;
  --primary-font: "Roboto", sans-serif;
  --nav-rail-width: 80px;
}

html,
body,
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}

h1 {
  color: var(--primary-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 3.5rem;
  margin: 0;
}

section {
  padding: 2.5rem 2rem;
}

.section-heading {
  text-align: left;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 3rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

button.filled-tonal {
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
  border: none;
  font-family: var(--primary-font);
  font-weight: 500;
  color: var(--on-secondary-container);
  background-color: var(--secondary-container);
  width: auto;
  transition: box-shadow 0.6s;
  cursor: pointer;
}

button.filled-tonal:hover {
  -webkit-box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 10px -5px rgba(0, 0, 0, 0.75);
}

/* Material Design Customisations */

/* Text Input Field */
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__trailing,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__leading,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__notch {
  border-width: 2px !important;
  border-color: var(--primary-color) !important;
}

.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mdc-notched-outline.mdc-notched-outline--upgraded
  > .mdc-notched-outline__notch
  > label,
.mat-mdc-text-field-wrapper.mdc-text-field.mdc-text-field--outlined.mdc-text-field--focused
  > .mat-mdc-form-field-flex
  > .mat-mdc-form-field-infix
  > mat-select
  > .mat-mdc-select-trigger
  > .mat-mdc-select-arrow-wrapper
  > .mat-mdc-select-arrow,
.mdc-list-item__primary-text,
.mat-pseudo-checkbox.mat-mdc-option-pseudo-checkbox.mat-pseudo-checkbox-checked.mat-pseudo-checkbox-minimal::after {
  color: var(--primary-color) !important;
}

.mdc-notched-outline__notch {
  border-left: none !important;
}

.mat-mdc-form-field {
  width: 100% !important;
}

.mat-mdc-form-field-infix {
  width: 100% !important;
}

/* Datepicker */
.mat-datepicker-toggle.mat-datepicker-toggle-active {
  color: var(--primary-color) !important;
}

.mat-calendar-body-cell-content.mat-focus-indicator.mat-calendar-body-selected {
  background-color: var(--primary-color) !important;
}

.mat-calendar-body-cell:not(.mat-calendar-body-active):hover
  > .mat-calendar-body-cell-content.mat-focus-indicator {
  background-color: var(--primary-color-10) !important;
}

/* Buttons */
.main.mdc-button.mdc-button--unelevated.mat-mdc-unelevated-button.mat-unthemed.mat-mdc-button-base {
  background-color: var(--primary-color) !important;
  height: 56px !important;
  color: var(--background-color2) !important;
}
